/* div {
    border: 2px solid black;
} */

body {
    background-color: #3e8ca2;
}

header {
    height: 80px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: Calistoga;
    color: #ecf1eb;

}

h1 {
    font-family: Calistoga;
    color: #3e8ca2;

}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

h4 {
    color: white;
    font-size: 20px;
}

p {
    color: white;
    font-size: 14px;
}

.forecastbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.previous-search {
    margin: 10px;
}

ul {
    list-style-type: none;
  }

.today-weather {
    /* border: 2px solid #3e8ca2;
    background-color: #ecf1eb; */

}

.searchbox {
    border-right: 3px solid #3e8ca2;
    border-radius: 16px;
    background-color: #ecf1eb;
}

.forecasttitle {
    margin: 4px;

}

.forecastmainbox {

}

.forecast {
    height: 200px;
    width: 120px;
    background-color: #3e8ca2;
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
}

.container {
    background-color: #ecf1eb;
    border-radius: 16px;
}

