/* div {
    border: 2px solid black;
} */

body {
    background-color: #3e8ca2;
}

header {
    height: 80px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: Calistoga;
    color: #ecf1eb;

}

h1 {
    font-family: Calistoga;
    color: #3e8ca2;

}

h2 {
    font-size: 20px;
    
}

h3 {
    font-size: 20px;
}

h4 {
    color: white;
    font-size: 20px;
}

p {
    color: white;
    font-size: 14px;
}

.forecastbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.previous-search {
    margin: 10px;
}

li {
    list-style-type: none;
    font-family: 'Tomorrow', sans-serif; 
    font-size: 20px;
    color: #3e8ca2;
    width: 45%;
    margin: 1%;
    padding: 1px;
  }

li:hover {
    border-radius: 4px;
    transform: perspective(100px) rotatey(8deg);
    transition: all 0.4s;
}

p {
    font-family: 'Tomorrow', sans-serif; 
  }

.p {
    list-style-type: none;
    font-family: 'Tomorrow', sans-serif; 
    font-size: 20px;
    color: inherit;
  }

.today-weather {
    /* border: 2px solid #3e8ca2;
    background-color: #ecf1eb; */

}

.searchbox {
    border-right: 3px solid #3e8ca2;
    border-radius: 16px;
    background-color: #ecf1eb;
    color: #3e8ca2;
    padding: 10px;
        /* @media screen {
            
        } */
}

/* .searchbox:hover {
    background-color: #3e8ca2;
    color: #ecf1eb;
    transform: perspective(100px) rotatey(1.5deg);
    transition: all 0.9s;
} */

button {
    font-family: 'Tomorrow', sans-serif; 
    font-size: 20px;
    color: #3e8ca2;
    border: #3e8ca2;
    background-color: #ecf1eb;    
    border-radius: 8px;
}

button:hover {
    border: 2px solid #3e8ca2;
    transition: all .6s;
}

input {
    border: 1px solid #3e8ca2;
    background-color: #ecf1eb;
    color: #3e8ca2;
    font-size: 20px;
    font-family: 'Tomorrow', sans-serif; 
    border-radius: 8px;

}

.forecasttitle {
    margin: 4px;

}

.forecastmainbox {

}

.forecast {
    height: 200px;
    width: 120px;
    background-color: #3e8ca2;
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
}

.container {
    background-color: #ecf1eb;
    border-radius: 16px;
}

