div {
    border: 2px solid black;
}

header {
    height: 40px;
    display: flex;
    justify-content: center;

}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

h4 {
    color: white;
    font-size: 20px;
}

p {
    color: white;
    font-size: 14px;
}

.forecastbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.forecast {
    height: 200px;
    width: 120px;
    background-color: blue;
    border-radius: 4px;
    margin: 8px;
}

.previous-search {
    margin: 10px;
}

ul {
    list-style-type: none;
  }

.today-weather {
    background-color: gray;
}